.row
  .panel_title
    %h2 Your favorite videos
  = render partial: "shared/post_pod", collection: @videos, as: :video

.row.text-center
  = will_paginate @videos, renderer: BootstrapPagination::Rails