.container-fluid
  .alert-container= render 'layouts/messages'
  .row
    .col-md-12
      = yield(:video)
  .row.under-video-content
    .col-md-9
      = content_for?(:content) ? yield(:content) : yield
    .col-md-3
      = render 'shared/sidebar'
    .clearfix.visible-xs