.container-fluid
  %nav.navbar.navbar-fixed-top.navbar-static-top.navbar-default{role: "navigation"}
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: root_path} Funny Videos
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li.active
            %a{href: "#"} 
              %i.fa.fa-home.fa-fw
              Home
          %li
            %a{href: latest_videos_posts_videos_path} Latest   
          %li
            %a{href: popular_videos_posts_videos_path} Popular
          %li
            %a{href: trending_videos_posts_videos_path} Trending
              
        %form.navbar-form.navbar-left{role: "search", action: search_posts_videos_path, method: "get"}
          .input-group
            %input.form-control{name: "query", placeholder: "Search videos", type: "text"}
            = csrf_meta_tag
            .input-group-btn
              %button.btn.btn-default{type: "submit"}
                %i.fa.fa-search.fa-fw
        %ul.nav.navbar-nav.navbar-right
          .btn-group#upload
            %a.btn.btn-primary{href: new_posts_video_path}
              %i.fa.fa-upload.fa-fw
              Upload
          - if user_signed_in?
            .btn-group#my-account
              %a.btn.btn-primary{href: root_path}
                %i.fa.fa-user.fa-fw
                = current_user.username
              %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                %span.fa.fa-caret-down
              %ul.dropdown-menu
                %li
                  %a{href: user_interests_path(current_user)}
                    %i.fa.fa-pencil.fa-fw
                    Interests
                %li
                  = link_to destroy_user_session_path, {method: "delete"} do
                    %i.fa.fa-trash-o.fa-fw
                    Logout
          - else
            .btn-group#facebook_login
              %a.btn.btn-primary{href: user_omniauth_authorize_path(:facebook)}
                %i.fa.fa-facebook.fa-fw
                Connect with Facebook

  / .jumbotron
  /   %h1 Win an iPad mini!
  /   %p Upload a funny video and you could win an iPad mini
  /   %p
  /     %a.btn.btn-primary.btn-lg{role: "button"} Enter the contest NOW!