.row.video-player{class: playing_video(video_counter)}
  .col-md-5.video-image
    %a{href: posts_video_path(video)}
      .thumbnail
        = image_tag video.image.url(:video)
  .col-md-7.video-title
    %a{href: posts_video_path(video)}
      = video.title