.row
  .panel_title
    %h2 Top Videos From Yesterday  
  = render partial: "shared/post_pod", collection: @top_videos, as: :video

.row
  .panel_title
    %h2 Latest Videos
  = render partial: "shared/post_pod", collection: @videos, as: :video

.row.text-center
  = will_paginate @videos, renderer: BootstrapPagination::Rails