.row
  .panel_title
    %h2 Most Popular videos  
  = render partial: "shared/post_pod", collection: @popular_videos, as: :video

.row
  .panel_title
    %h2 Latest Videos
  = render partial: "shared/post_pod", collection: @videos, as: :video

.row.text-center
  = will_paginate @videos, renderer: BootstrapPagination::Rails