.row
  .panel_title
    %h2 Top Videos From Yesterday  
  = render partial: "shared/post_pod", collection: @top_videos, as: :video

.row
  .panel_title
    %h2 Watch Latest Videos
  = render partial: "shared/post_pod", collection: @videos, as: :video