.posts-videos.show
  .details
    .stats
      display: flex
      .views
        margin-right: 10px
        
      .views_count
        margin-right: 50px
        font-size: 30px

      .like
        margin-right: 10px

      .like_count
        margin-right: 10px
        font-size: 30px

      .dislike
        margin-right: 50px

      .favorite
        color: #D9534F

  .video-container
    position: relative
    padding-bottom: 56.25%
    padding-top: 30px
    height: 0
    overflow: hidden
    background-color: #333333
    
    
    .videomessage
      text-align: center
      display: none
      //background-color: #333333
      
      h1, h3
        color: white
      
      .top_margin
        margin-top: 15px
        
      .replay
        margin-bottom: 12%
        margin-top: 20%
      
      .white
        color: white
        
      .red
        color: white
        
      
      
      
   
  .video-container iframe,
  .video-container object,
  .video-container embed
    //display: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%


  .video-facebook_connect
    background-color: #333333
    width: 100%
    text-align: center
    
    .facebook
      margin: 10px 0 10px
      
  .related-videos
    margin-top: 42px
    overflow-y: scroll
    overflow-x: hidden
    height: 475px

    .video-player
      padding-top: 20px

      .video-image
        padding-right: 5px

      .video-title
        padding-left: 0px

        a
          color: #373737

        &:hover
          color: #373737

      &:hover
        background: #373737
        color: #ffffff
        border-radius: 3px

        a
          color: #ffffff

        &:hover
          color: #ffffff

    .playing
      background: #333333
      color: #ffffff
      border-radius: 3px

      .video-title
        a
          color: #ffffff

        &:hover
          color: #ffffff

  .share-buttons
    margin-top: 20px

  .navigation-buttons
    margin-top: 15px
    margin-bottom: 50px

    .previous
      margin-right: 40px

  .sidebar
    margin-top: -39px
 
.modal-content
  background: none repeat scroll 0 0 #EDEFF1
  border: 1px solid #CCCCCC
  border-radius: 5px
  color: #355368
  margin: 30px auto
  padding: 20px
  //width: 680px
  
  .modal-title
    color: #355368
    font-size: 24px
    margin: 0
    text-align: center
  .modal-body
    ul
      font-size: 20px
    .facebook
      font-size: 35px