$(".favorite-post").attr("href", "#{remove_from_favorites_posts_video_path(params[:id])}");
$(".favorite-post").addClass("favorite");
$(".favorite-post").attr("title", "This video is on your favorites list");
$(".fav").find("span").text("Remove From Favorites")
