$(".favorite-post").attr("href", "#{add_to_favorites_posts_video_path(params[:id])}");
$(".favorite-post").removeClass("favorite");
$(".favorite-post").attr("title", "Add to favorites");
$(".fav").find("span").text("Add To Favorites")