#content
  margin-top: 20px
  min-height: 300px
  .container-fluid
    .row
      .col-md-9
        .col-md-4:nth-child(3n+2)
          clear: left

      .thumbnail
        padding: 0px  
        
      .caption
        padding: 0px 
        margin-bottom: 40px
        margin-top: -15px        
        h3
          font-size: 1.25em
          font-weight: bold
          color: black
          
      .stats
        .views, .reputation, .favorites
          margin-right: 10px