#content
  margin-top: 20px
  min-height: 300px
  .container-fluid
    .row
      .col-md-9
        .col-md-4:nth-child(3n+2)
          clear: left

      .thumbnail    
        .caption
          padding: 0px
          
          h3
            font-size: 1.25em
            font-weight: bold
    