.navbar
  .navbar-brand
    font-weight: bold
    font-size: 30px

  form
    input-group
      display: block

  .navbar-right
    padding: 10px
    
    #facebook-connect
      button
        background-color: #428BCA
        border-color: #357EBD
        color: #FFFFFF

        &:hover
          background-color: #3071A9
          border-color: #285E8E
    #my-account
      img
        max-height: 100%